@import '../common/colors.scss';

.footer{
    color: $primary-font;
    background: $secondary-colour;
    height : 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
